<h1>Stackbird</h1>

<p>Welcome to Stackbird. Care to browse a timeline? Submit a twitter handle below!</p>

<form>
  <input type="text" name="handle" />
  <submit type="submit" name="Browse">
</form>
