<h1><%= @handle %>'s Timeline</h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li><%= tweet['retweeted_status'] && tweet['retweeted_status']['full_text'] || tweet['full_text'] %></li>
  <% end %>
</ul>
