<h1><%= @handle %>'s Timeline</h1>

<ul class="list-group">
  <% @tweets.each do |tweet| %>
    <li class="list-group-item">
      <%= tweet['retweeted_status'] && tweet['retweeted_status']['full_text'] || tweet['full_text'] %>
    </li>
  <% end %>
</ul>
